@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font: normal 12px/14px "Helvetica Neue Cyr", Helvetica, sans-serif;
	color: #000;
	background-color: #eceef8;
	width: 100%;
}
div, ul,li,  p, strong, h1, h2, figure {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul,li {
	list-style: none;
}